In [16]:
import numpy as np
import pandas as pd
import re

In [17]:
files = ['archive/train.csv','archive/validation.csv']
df = pd.read_csv(files[1])

In [18]:
df.head(),df.info()
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21990 entries, 0 to 21989
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    21990 non-null  object
dtypes: object(1)
memory usage: 171.9+ KB
text    0
dtype: int64

In [19]:
df.dropna(subset=['text'], inplace=True)
print(df.isnull().sum())

text    0
dtype: int64

In [20]:
def clean_text(text):
    if isinstance(text, str):
        text = text.lower()  
        text = re.sub(r'\d+', ' ', text)  # Removes digits
        text = re.sub(r'[^\w\s\']', ' ', text)  # Removes punctuation but keeps apostrophes
        text = re.sub(r'\s+', ' ', text) 
        return text
    return text 

df['cleaned_text'] = df['text'].apply(clean_text).str.lower()
print(df[['text', 'cleaned_text']].head())

                                                text  \
0  Spot. Spot saw the shiny car and said, "Wow, K...
1  Once upon a time, in a big forest, there lived...
2  Once upon a time, in a small yard, there was a...
3  Once upon a time, there was a thoughtful girl ...
4  Once upon a time, there was a kind farmer. He ...

                                        cleaned_text
0  spot spot saw the shiny car and said wow kitty...
1  once upon a time in a big forest there lived a...
2  once upon a time in a small yard there was a s...
3  once upon a time there was a thoughtful girl n...
4  once upon a time there was a kind farmer he ha...

In [21]:
print(df['cleaned_text'])
with open('dataset.txt','+a') as f:
    for data in df['cleaned_text']:
        f.write(data.replace('\n',' '))
        f.write('\n')

0        spot spot saw the shiny car and said wow kitty...
1        once upon a time in a big forest there lived a...
2        once upon a time in a small yard there was a s...
3        once upon a time there was a thoughtful girl n...
4        once upon a time there was a kind farmer he ha...
                               ...
21985    john was out in the backyard playing he saw a ...
21986    once upon a time there was a green vehicle eve...
21987    once upon a time there was a package it was a ...
21988    once upon a time there was a thin rhinoceros h...
21989    once there was a little girl named sarah she w...
Name: cleaned_text, Length: 21990, dtype: object